@import url("components/nav.css");
@import url("components/landing.css");
@import url("components/section.css");
@import url("components/footer.css");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "Roboto";
  src: url("./fonts/Roboto-Regular.ttf");
}

@font-face {
  font-family: "Roboto Medium";
  src: url("./fonts/Roboto-Medium.ttf");
}

@font-face {
  font-family: "Roboto Bold";
  src: url("./fonts/Roboto-Bold.ttf");
}

@font-face {
  font-family: "Roboto Thin";
  src: url("./fonts/Roboto-Thin.ttf");
}

html {
  background-color: var(--background-color);
  color: var(--font-color);
  font-family: Roboto;
  scroll-behavior: smooth;
  transition: all 0.3s;
}

body {
  background-image: url(./img/wordpress-logo.svg);
  background-repeat: no-repeat;
  background-position: -50px -50px;
}

.cursor {
  width: 8px;
  height: 8px;
  background: #2799f8;
  border-radius: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  pointer-events: none;
  z-index: 99;
  transition: all 0.08s;
}

:root {
  --avatar-image: url(../img/avatar.png);
  --main-image: url(../img/wapuu.png), url(../img/wave.svg);
  --main-imagemini: url(../img/wapuumini.png), url(../img/wavemini.svg);
  --background-color: #fff;
  --font-color: #131417;
}

[data-theme="dark"] {
  --avatar-image: url(../img/darkavatar.png);
  --main-image: url(../img/darkwapuu.png), url(../img/wave.svg);
  --main-imagemini: url(../img/darkwapuumini.png), url(../img/wavemini.svg);
  --background-color: #131417;
  --font-color: #fff;
}

@media screen and (min-width: 1635px) {
  main {
    margin: 0em 18em;
  }
}

@media screen and (max-width: 1635px) {
  main {
    margin: 0em 6em;
  }
}

@media screen and (max-width: 768px) {
  main {
    margin: 0em 4em;
  }
}

@media screen and (max-width: 480px) {
  main {
    margin: 0em 1.5em;
  }
}
