footer {
  margin-top: 5rem;
  background-image: var(--footer-image);
  padding: 9rem 0rem;
  color: var(--font-color);
}

.heart {
  animation: 1s infinite;
  animation-name: pulse;
}

@keyframes pulse {
  0% {
    transform: scale(0.75);
  }
  20% {
    transform: scale(1);
  }
  40% {
    transform: scale(0.75);
  }
  60% {
    transform: scale(1);
  }
  80% {
    transform: scale(0.75);
  }
  100% {
    transform: scale(0.75);
  }
}
