.fixed-top {
    top: 1rem;
    right: 4rem;
    left: 4rem;
}

.navbar {
    padding: 1.1rem 2rem;
    border-radius: 0.4rem;
}

.navbar-light {
    background-color: var(--card-bg-color) !important;
    box-shadow: var(--box-shadow);
}

.navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 2rem;
}

.navbar-brand {
    color: var(--font-color) !important;
    letter-spacing: 0.1rem;
    font-size: 1.1rem;
    font-weight: 700;
}

.profil-logo {
	border-radius: 50%;
}

.nav-link {
    color: var(--font-color) !important;
    opacity: .75;
    font-weight: 700;
    font-size: 0.6rem;
    letter-spacing: 0.1rem;
    text-transform: uppercase;
}

.nav-link-color {
    color: var(--hight-color) !important;
    opacity: .75;
}

.nav-link:hover, .nav-link-color:hover {
    opacity: 1;
}

.navbar-toggler {
    border: none;
}

@media screen and (max-width: 991px) {
	.nav-link {
	    padding-top: 2.5em;
	    padding-bottom: : 2.5em;
	}
}

@media screen and (max-width: 768px) {
	.fixed-top {
	    top: 1rem;
	    right: 1rem;
	    left: 1rem;
	}

    .fixed-bottom {
        bottom: 1rem !important;
        right: 7rem;
        left: 7rem;
    }

    .title {
        margin-top: 1rem !important;
    }

    .title-img {
        margin-top: 2rem;
    }
}