.category {
  margin-top: 3rem;
  font-size: 2rem;
  font-weight: 600;
  line-height: 4rem;
  letter-spacing: 2px;
  color: var(--font-color);
}

.card {
  border: 1px solid rgba(7, 25, 53, 0.05);
  border-radius: 0.5rem;
  background-color: var(--card-bg-color);
  box-shadow: var(--box-shadow);
  color: var(--font-color);
}

.card-image {
  border-radius: 50px;
  height: 60px;
  width: 60px;
}

h3 {
  margin-top: 1.1rem;
  margin-bottom: 1.1rem;
  font-size: 1.3rem;
  font-weight: 700;
}

.card:hover > h3 {
  color: var(--hight-color);
}

h4 {
  font-size: 1rem;
  font-weight: 400;
}

.text {
  opacity: 0.7;
  font-size: 0.95rem;
  font-weight: 500;
  line-height: 1.8rem;
}
