footer {
  margin-top: 5em;
  padding: 150px 0;
  background-image: var(--main-image);
  background-repeat: no-repeat;
  background-position: right;
}

@media screen and (max-width: 480px) {
  footer {
    padding: 80px 0;
    background-image: var(--main-imagemini);
  }
}

footer p {
  text-align: center;
}
