.landing_flex {
  margin: 0 0 4em 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  height: 100vh;
}

@media screen and (max-width: 480px) {
  .landing_flex {
    height: 92vh;
    padding-top: 7vh;
  }
}

.avatar {
  height: 500px;
  width: 500px;
  background-image: var(--avatar-image);
  background-repeat: no-repeat;
  background-size: 100% auto;
}

@media screen and (max-width: 480px) {
  .avatar {
    height: 350px;
    width: 500px;
  }
}

@media screen and (max-width: 320px) {
  .avatar {
    height: 280px;
    width: 500px;
  }
}

.landing_flex h1 {
  flex: 1;
}

.img_middle_align {
  vertical-align: middle;
}

.mouse {
  position: absolute;
  bottom: 25px;
  left: 46%;
  width: 1.875em;
  height: 3.125em;
  border-radius: 10em;
  border: 2px solid #2799f8;
}

.mouse::after {
  transform: translate(-50%, 0);
  content: "";
  position: absolute;
  display: block;
  top: 25%;
  left: 50%;
  width: 6px;
  height: 6px;
  background: #2799f8;
  border-radius: 50%;
  animation: mouse 2s linear infinite;
}

@keyframes mouse {
  0% {
    opacity: 1;
    transform: translate(-50%, 0);
  }
  100% {
    opacity: 0;
    transform: translate(-50%, 20px);
  }
}
