.card-project {
  box-shadow: var(--box-shadow);
  min-width: 100%;
}

.project-img {
  float: left;
  border-radius: 0.5rem;
  box-shadow: var(--box-shadow);
  transition: all 0.4s;
}

.card-project:hover > .project-img {
  transform: translate(0px, -40px);
}

a .project-title {
  color: var(--font-color);
  font-size: 1.5rem;
  font-weight: 500;
  margin-left: 7rem;
}

a .project-description {
  color: var(--font-color);
  opacity: 0.7;
  margin-left: 7rem;
}

.techno {
  float: left;
  margin-left: 1rem;
  display: inline-block;
  color: #fff;
  background-color: var(--hight-color);
  border-radius: 30px;
  padding: 0.2rem 0.6rem;
}
