section {
  margin: 0 0 3em 0;
}

.section_title {
  font-size: 32px;
  margin: 0 0 1em 0;
}

.section_flex {
  display: flex;
  justify-content: space-between;
}

.section_realisation_flex {
  display: flex;
  justify-content: space-between;
}

.section_realisation_flex .element:hover {
  transform: scale(1.05);
}

.section_realisation_flex .element:hover > .element_title {
  color: #2799f8;
}

.section_flex .element:hover > .element_title {
  color: #2799f8;
}

.element {
  margin: 0 1em 1.5em 0;
  padding: 1em;
  width: 100%;
  border: 1px solid transparent;
  color: var(--font-color);
  text-decoration: none;
  transition: all 0.2s;
}

@media screen and (max-width: 480px) {
  .element {
    margin: 0 0 1.5em 0;
  }
}

.element:hover {
  border: 1px solid #828282;
  transform: scale(1.05);
}

.element p {
  margin: 0.3em 0;
}

.element_img {
  width: 100%;
}

.element_title {
  font-family: Roboto Medium;
  text-transform: uppercase;
  transition: all 0.2s;
}

.element_date {
  color: #828282;
}

.img_align {
  vertical-align: bottom;
  width: 19px;
}

@media screen and (max-width: 768px) {
  .section_realisation_flex {
    flex-wrap: wrap;
  }
}

@media screen and (max-width: 480px) {
  .section_flex {
    flex-wrap: wrap;
  }
}
